.navbar {
    background: rgb(240, 174, 0);
    font-family: 'Roboto';
    padding: 15px;
    color: white;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navdiv li {
    list-style: none;
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgb(255, 194, 14);
}

.navdiv li a {
    text-decoration: none;
}

a:visited {
    color: white;
}

body {
    background-color: rgb(0, 128, 198);
}

.Paragraph {
    color: white;
    border: solid white 2px;
    padding: 15px;
    margin: 50px;
}

.container-par {
    width: 670px;
}

.big-container {
    display: flex;
    justify-content: center;
}